@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .page-enter {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  
  .font-birdgo {
    font-family: 'Birdgo', sans-serif;
  }
  
/* Custom styles for the piano */
.piano {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.piano-key {
  display: inline-block;
  width: 40px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
  user-select: none;
}

.piano-key-pressed {
  background-color: #3182ce; /* Blue color when pressed */
  color: #fff;
}

.piano-key-white {
  background-color: #fff;
}

.piano-key-black {
  background-color: #000;
  color: #fff;
}

.button-19 {
  appearance: button;
  background-color: #4f5056;
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f0b38a;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #606166;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  background-color: #c7570a;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

:root {
  --color-blue: #c7570a;
  --color-green: #606166;
  --color-brown: #ffffff;
  --color-beige: #606166;
  --color-yellow: #606166;
  --color-pink: #fe4365;
}

.floating-text {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--color-blue);
  padding: 50px;
  border-radius: 11px;
  position: relative;
  display: inline-block; /* Ensure it behaves like an inline block */
  max-width: 70%; /* Adjust max-width as needed */
}

.floating-text p::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adjust distance from bottom */
  left: 50%; /* Position at the middle horizontally */
  transform: translateX(-50%); /* Center the triangle horizontally */
  border-width: 10px;
  border-style: solid;
  border-color: var(--color-beige) transparent transparent transparent;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.keyboard-container {
  width: 480px; /* Half of 960px */
  height: 150px; /* Half of 300px */
  margin: 0 auto;
}

.accidentals-container {
  width: 480px; /* Half of 960px */
  display: grid;
  grid-template-columns: repeat(42, 1fr);
  height: 66%; /* Half of 66% */
  justify-items: center;
}

.accidentals-container button {
  width: 28px; /* Half of 58px */
  background: #1b1b1e;
  border: 1px solid #fff;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  top: -149px; /* Half of -299px */
  position: relative;
  z-index: 1;
  border-top: none;
}

.accidentals-container button.C {
  grid-column: 6 / span 2;
}

.accidentals-container button.D {
  grid-column: 12 / span 3;
}

.accidentals-container button.F {
  grid-column: 25 / span 2;
}

.accidentals-container button.G {
  grid-column: 31 / span 2;
}

.accidentals-container button.A {
  grid-column: 37 / span 1;
}

.naturals-container {
  width: 480px; /* Half of 960px */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 150px; /* Half of 300px */
}

.naturals-container button {
  background: #fff;
  border: 1px solid #c4c5c7;
  border-radius: 0 0 6px 6px;
}

.button-20 {
  cursor: pointer;
}

.button-20:active, button:focus {
  color: white;
  background-color: green;
  outline: rgba(225, 225, 225, 0);
}

.naturals-container p {
  font-size: 0.875em; /* Half of 1.75em */
  top: 50px; /* Half of 100px */
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
  color: #1b1b1e;
}

  
}

@font-face {
  font-family: 'Birdgo';
  src: url('./fonts/Birdgo.ttf') format('truetype');
  font-weight: 400;
}



body {
  @apply font-birdgo;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
