@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
.bubble {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 1px;
  color: #333;
  display: inline-block;
  padding: 12px 24px;
  position: relative;
}
.bubble:after,
.bubble:before {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 5px solid #eee;
  bottom: 5px;
  content: '';
  left: 50%;
  margin-left: -20px;
  position: absolute;
}

/* Styling for second triangle (border) */

.bubble:before {
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-top: 23px solid;
  border-top-color: inherit; /* Can't be included in the shorthand to work */
  bottom: -23px;
  margin-left: -23px;
}

  .image-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-radius: 80%;
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  .page-enter {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  
  .font-birdgo {
    font-family: 'Birdgo', sans-serif;
  }
  
  .font-birdgo2 {
    font-family: 'Birdgo', sans-serif;
  }
  
/* Custom styles for the piano */
.piano {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.piano-key {
  display: inline-block;
  width: 40px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
  user-select: none;
}

.piano-key-pressed {
  background-color: #3182ce; /* Blue color when pressed */
  color: #fff;
}

.piano-key-white {
  background-color: #fff;
}

.piano-key-black {
  background-color: #000;
  color: #fff;
}

.button-start {
  
  appearance: button;
  background-color: #58a700;
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 1000;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 2px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 30%;
}

.button-start:after {
  background-clip: padding-box;
  background-color: #58cc02;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-start:main,
.button-start:focus {
  user-select: auto;
}

.button-start:hover:not(:disabled) {
  background-color: #58a700;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-start:disabled {
  cursor: auto;
}

.button-start:active {
  border-width: 4px 0 0;
  background: none;
}

.button-19 {
  
  appearance: button;
  background-color: #58a700;
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 1000;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 2px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #58cc02;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  background-color: #58a700;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
.button-circle {
  appearance: button;
  background-color: #58a700;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 1000;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: perspective(1000px) rotateY(-10deg); /* Slightly tilted backwards */
  transition: transform 0.3s ease-in-out, background-color 0.3s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}

.button-circle:hover:not(:disabled) {
  background-color: #4c8f00; /* Darker shade of green on hover */
  transform: perspective(1000px) rotateY(-5deg); /* Less tilt on hover */
}

.button-circle:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  transform: perspective(1000px) rotateY(-10deg); /* Same tilt as enabled state */
}

.button-circle:active {
  background-color: #4c8f00; /* Darker shade of green on click */
}

.button-circle span {
  position: relative;
  z-index: 1;
}

.button-circle:after {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  z-index: -1;
}

:root {
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgba(71,163,11,255);
  --colorShadeD: rgba(88,204,5,255);
  --colorShadeE: rgba(88,204,5,255)
}

a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

a.big-button {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  color: white;
  font-style: "Birdgo";
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

a.big-button.done {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  color: white;
  font-style: "Birdgo";
  border-radius: 1em;
  background: #4486bb;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

a.big-button.done::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #224769;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #224769, 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
a.big-button.done:hover {
  background: #224769;
  transform: translate(0, 0.375em);
}

a.big-button.disabled {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  color: rgba(183,183,183,255);
  font-style: "Birdgo";
  border-radius: 1em;
  background: rgba(229,229,229,255);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


a.big-button.disabled::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(183,183,183,255);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


a.big-button.disabled:hover {
  background: rgba(229,229,229,255);
  transform: translate(0, 0.375em);
}

a.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

a.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

a.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

a.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}


.button-small {
  
  appearance: button;
  background-color: #0c3f70;
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 1000;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 5px 2px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.button-small:after {
  background-clip: padding-box;
  background-color: #0c84c9;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-small:main,
.button-small:focus {
  user-select: auto;
}

.button-small:hover:not(:disabled) {
  background-color: #0e124d;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-small:disabled {
  cursor: auto;
}

.button-small:active {
  border-width: 4px 0 0;
  background: none;
}

:root {
  --color-blue: #c7570a;
  --color-green: #606166;
  --color-brown: #ffffff;
  --color-beige: #606166;
  --color-yellow: #606166;
  --color-pink: #fe4365;
}

.floating-text {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--color-blue);
  padding: 50px;
  border-radius: 11px;
  position: relative;
  display: inline-block; /* Ensure it behaves like an inline block */
  max-width: 70%; /* Adjust max-width as needed */
}

.floating-text p::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adjust distance from bottom */
  left: 50%; /* Position at the middle horizontally */
  transform: translateX(-50%); /* Center the triangle horizontally */
  border-width: 10px;
  border-style: solid;
  border-color: var(--color-beige) transparent transparent transparent;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.keyboard-container {
  width: 480px; /* Half of 960px */
  height: 150px; /* Half of 300px */
  margin: 0 auto;
}

.accidentals-container {
  width: 480px; /* Half of 960px */
  display: grid;
  grid-template-columns: repeat(42, 1fr);
  height: 66%; /* Half of 66% */
  justify-items: center;
}

.accidentals-container button {
  width: 28px; /* Half of 58px */
  font-size: 10px;
  background: #1b1b1e;
  border: 1px solid #fff;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  top: -149px; /* Half of -299px */
  position: relative;
  z-index: 1;
  border-top: none;
}

.accidentals-container .button-21{
  width: 28px; /* Half of 58px */
  background: #6cf4a7;
  border: 1px solid #fff;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  top: -149px; /* Half of -299px */
  position: relative;
  z-index: 1;
  border-top: none;
}
.accidentals-container .button-22{
  width: 28px; /* Half of 58px */
  background: #c85858;
  border: 1px solid #fff;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  top: -149px; /* Half of -299px */
  position: relative;
  z-index: 1;
  border-top: none;
}

.accidentals-container button.C {
  grid-column: 6 / span 2;
}

.accidentals-container button.D {
  grid-column: 12 / span 3;
}

.accidentals-container button.F {
  grid-column: 25 / span 2;
}

.accidentals-container button.G {
  grid-column: 31 / span 2;
}

.accidentals-container button.A {
  grid-column: 37 / span 1;
}

.naturals-container {
  width: 480px; /* Half of 960px */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 150px; /* Half of 300px */
}

.naturals-container button {
  background: #fff;
  border: 1px solid #c4c5c7;
  border-radius: 0 0 6px 6px;
}

.naturals-container .button-21{
  background: #6cf4a7;
  border: 1px solid #6cf4a7;
  border-radius: 0 0 6px 6px;
}

.naturals-container .button-22{
  background: #c85858;
  border: 1px solid #c85858;
  border-radius: 0 0 6px 6px;
}

.button-20 {
  cursor: pointer;
}

.button-20 {
  color: white;
  background-color: green;
  outline: rgba(225, 225, 225, 0);
}

.button-21 {
  color: white;
  background-color: green;
}


.naturals-container p {
  font-size: 0.875em; /* Half of 1.75em */
  top: 50px; /* Half of 100px */
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
  color: #1b1b1e;
}

  
}

@font-face {
  font-family: 'Birdgo';
  src: url('./fonts/DIN.ttf') format('truetype');
  font-weight: 400;
}



body {
  @apply font-birdgo;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
